.Navbar{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(31,31,31,1) 0%, rgba(48,48,48,1) 100%);
    max-height: 5rem;
    padding: 0px;
    box-shadow: 2px 8px 7px 0px rgba(97,95,97,0.41);
    &__Logo{
        img{
        display: block;
        max-height: 6em;
        }
    }
    &__Search{
        font-size: 30px;
        form{
            margin-left: -100px;
            input{
                padding:0px;
                text-align: center;
                width: 500px;
                height: 35px;
                box-sizing: border-box;
                background-color: transparent;
                border:none;
                color: white;
                }
                input:focus{
                    background-color:grayscale($color: #00000069);
                }
        }
    &__Login{
        
    }
    }
}

.RightMenu{
    font-size: 30px;

    &__SignIn{
        box-sizing: border-box;
        margin-top: -15px;
        margin-right: 20px;
        button{
            color:rgb(189, 189, 189);
            font-size: 15px;
            background-color: transparent;
            border:none;
        }
        button:hover{
            color:white;
            border-bottom:solid 2px blue;
        }
    }
}