.Grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-left: 10rem;
  margin-right: 10rem;
  box-sizing: border-box;

  &__Poster {
    box-sizing: border-box;
    overflow: hidden;
    max-height: 30em;
    max-width: 13.5em;
    margin: 0em auto 0em auto;
    text-align: center;
  }
  &__Poster:hover {
    transform: scale(1.03);
  }
  &__Title {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
    border: white;
    position: relative;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    // border: solid 1px white;
    transform: translate(0, -50px);
  }
}
.Card {
  height: 18em;
  // max-height: 18em;
  width: 13.5em;
  display: fixed;

  &__Poster {
    background: rgb(255, 255, 255);
    overflow: hidden;

    height: 18em;
    max-height: 18em;
    width: 13.5em;
    max-width: 13.5em;
    margin: 0em auto 0em auto;
    text-align: center;

    // border: solid 1px white;
  }
  &__Title {
    color: white;
    box-shadow: inset 0 0 100px #e2cfcf;
  }
}
.Category {
  display: flex;
  justify-content: center;
  h2 {
    margin-right: 50px;
  }
}
