.Grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  margin: 10px;
  margin-left: 10rem;
  margin-right: 10rem;
  box-sizing: border-box;

  &__Poster {
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 40px;
    max-height: 10em;
    max-width: 13.5em;
    margin: 0.5em auto 0em auto;
    text-align: center;
  }
  &__Title {
    margin-top: 10px;
  }
}
.Card {
  height: 14em;
  max-height: 14em;
  width: 13.5em;
  max-width: 13.5em;
  margin: 0.5em auto 0em auto;
  text-align: center;
  border: solid 0.1px black;
}
.Card:hover {
  transform: scale(1.03);
}
